.page {
	background-color: purple;
	padding: 0.5rem;

    margin: 0% 20% 0% 20%;
}

.box {
	background-color: grey;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.horizontal-box {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

h3 {
    background-color: grey;
    width: inherit;
    margin: 0.5rem;
    padding: 0.5rem;
    font-weight: normal;
    display: block;
}

.box-content {
    text-align: center;
}

/*
.box{
	background-color: purple;
	padding: 0.5rem;
}
